Q1

In [33]:
import numpy as np 
import pandas as pd
import warnings

pd.options.display.float_format = '{:.8f}'.format

warnings.filterwarnings("ignore")

def f_a(x):
    return x + np.exp(-x**2)*np.cos(x)

def f_b(x):
    fx = f_a(x)
    return fx*fx

def d_f_a(x):
    return 1 - 2*x*np.exp(-x**2)*np.cos(x) - np.exp(-x**2)*np.sin(x)

def d2_f_a(x):
    return -2*np.exp(-x**2)*np.cos(x) - 4*x*np.exp(-x**2)*np.sin(x) - np.exp(-x**2)*np.cos(x) + 2*x**2*np.exp(-x**2)*np.cos(x) - np.exp(-x**2)*np.sin(x)

def d2_f_b(x):
    return 2*f_a(x)*d2_f_a(x) + 2*d_f_a(x)*d_f_a(x)

def d_f_b(x):
    return 2*f_a(x)*d_f_a(x)


def modified_newtons_method(f:callable, df:callable, d2f:callable, p0: np.float64, tol : np.float64 =1e-6 , max_iter: int = 1000) ->tuple:
    p = p0
    p_values = [p]
    i = 1
    while i < max_iter:
        p = p - f(p)*df(p)/(df(p)**2 - f(p)*d2f(p))
        p_values.append(p)
        if abs((p_values[i] - p_values[i-1])/p_values[i]) < tol:
            break
        i+=1

    return i,p_values

def newton_raphson(f:callable, df:callable,  p0: np.float64, tol : np.float64 =1e-6 , max_iter: int = 1000) ->tuple:
    p = p0
    p_values = [p]
    i = 1
    while i < max_iter:
        p = p - f(p)/df(p)
        p_values.append(p)
        if abs((p_values[i] - p_values[i-1])/p_values[i]) < tol:
            break
        i+=1

    return i,p_values

def secant(f:callable, p0: np.float64, p1: np.float64, tol : np.float64 =1e-6 , max_iter: int = 1000) ->tuple:
    p_values = [p0,p1]
    i = 1
    while i < max_iter: 
        p = p1 - f(p1)*(p1-p0)/(f(p1)-f(p0))
        p_values.append(p)
        if abs((p_values[i] - p_values[i-1])/p_values[i]) < tol:
            break
        p0 = p1
        p1 = p
        i+=1
    return i,p_values

iterations_newton_f_a, p_values_newton_f_a = newton_raphson(f_a, d_f_a, 0)
iterations_newton_f_b, p_values_newton_f_b = newton_raphson(f_b, d_f_b, 0)
iterations_secant_f_a, p_values_secant_f_a = secant(f_a, 0, 1)
iterations_secant_f_b, p_values_secant_f_b = secant(f_b, 0, 1)
iterations_modified_newton_f_a, p_values_modified_newton_f_a = modified_newtons_method(f_a, d_f_a, d2_f_a, 0)
iterations_modified_newton_f_b, p_values_modified_newton_f_b = modified_newtons_method(f_b, d_f_b, d2_f_b, 0)
max_length = max(
    len(p_values_newton_f_a),
    len(p_values_newton_f_b),
    len(p_values_secant_f_a),
    len(p_values_secant_f_b),
    len(p_values_modified_newton_f_a),
    len(p_values_modified_newton_f_b)
    )

p_values_newton_f_a.extend([np.nan] * (max_length - len(p_values_newton_f_a)))
p_values_newton_f_b.extend([np.nan] * (max_length - len(p_values_newton_f_b)))
p_values_secant_f_a.extend([np.nan] * (max_length - len(p_values_secant_f_a)))
p_values_secant_f_b.extend([np.nan] * (max_length - len(p_values_secant_f_b)))
p_values_modified_newton_f_a.extend([np.nan] * (max_length - len(p_values_modified_newton_f_a)))
p_values_modified_newton_f_b.extend([np.nan] * (max_length - len(p_values_modified_newton_f_b)))

data = {
    'Newton a)': p_values_newton_f_a,
    'Secant a)': p_values_secant_f_a,
    'Newton b)': p_values_newton_f_b,
    'Secant b)': p_values_secant_f_b,
    'Modified Newton a)': p_values_modified_newton_f_a,
    'Modified Newton b)': p_values_modified_newton_f_b
}

table = pd.DataFrame(data)
iterations = pd.DataFrame(data =
        {
            'Newton' : [iterations_newton_f_a, iterations_newton_f_b],
            'Secant' : [iterations_secant_f_a, iterations_secant_f_b],
            'Modified Newton' : [iterations_modified_newton_f_a, iterations_modified_newton_f_b]
        }
        ,
        index=['a', 'b']
    )

iterations

   Newton  Secant  Modified Newton
a       5       8                6
b      19      35                6

In [37]:
table

,Newton a),Secant a),Newton b),Secant b),Modified Newton a),Modified Newton b)
0,0.00000000,0.00000000,0.00000000,0.00000000,0.00000000,0.00000000
1,-1.00000000,1.00000000,-0.50000000,1.00000000,-0.25000000,-0.25000000
2,-0.53064402,-5.03103873,-0.54459804,-2.28811910,-0.49350176,-0.49350176
3,-0.58862653,-0.16051867,-0.56655001,2.23874342,-0.58083250,-0.58083250
4,-0.58840178,-0.82983062,-0.57748280,89.85757285,-0.58835056,-0.58835056
5,-0.58840178,-0.57563757,-0.58294333,2.18452285,-0.58840177,-0.58840177
6,NaN,-0.58871034,-0.58567273,2.13290670,-0.58840178,-0.58840178
7,NaN,-0.58840173,-0.58703729,1.09750165,NaN,NaN
8,NaN,-0.58840178,-0.58771954,0.57216311,NaN,NaN
9,NaN,-0.58840178,-0.58806066,-4.82599571,NaN,NaN
10,NaN,NaN,-0.58823122,0.91428422,NaN,NaN
11,NaN,NaN,-0.58831650,1.27853746,NaN,NaN
12,NaN,NaN,-0.58835914,-0.37778460,NaN,NaN
13,NaN,NaN,-0.58838046,-0.56769095,NaN,NaN
14,NaN,NaN,-0.58839112,-0.56964196,NaN,NaN
15,NaN,NaN,-0.58839645,-0.57856340,NaN,NaN
16,NaN,NaN,-0.58839911,-0.58194976,NaN,NaN
17,NaN,NaN,-0.58840044,-0.58450561,NaN,NaN
18,NaN,NaN,-0.58840111,-0.58597268,NaN,NaN
19,NaN,NaN,-0.58840144,-0.58690557,NaN,NaN
20,NaN,NaN,NaN,-0.58747589,NaN,NaN
21,NaN,NaN,NaN,-0.58782983,NaN,NaN
22,NaN,NaN,NaN,-0.58804823,NaN,NaN
23,NaN,NaN,NaN,-0.58818329,NaN,NaN
24,NaN,NaN,NaN,-0.58826674,NaN,NaN
25,NaN,NaN,NaN,-0.58831832,NaN,NaN
26,NaN,NaN,NaN,-0.58835020,NaN,NaN
27,NaN,NaN,NaN,-0.58836990,NaN,NaN
28,NaN,NaN,NaN,-0.58838208,NaN,NaN
29,NaN,NaN,NaN,-0.58838960,NaN,NaN
30,NaN,NaN,NaN,-0.58839425,NaN,NaN
31,NaN,NaN,NaN,-0.58839713,NaN,NaN
32,NaN,NaN,NaN,-0.58839890,NaN,NaN
33,NaN,NaN,NaN,-0.58840000,NaN,NaN
34,NaN,NaN,NaN,-0.58840068,NaN,NaN
35,NaN,NaN,NaN,-0.58840110,NaN,NaN
36,NaN,NaN,NaN,-0.58840136,NaN,NaN